
__pycache__/
*.pyc
C:\Users\Acer\Desktop\CyberFaces\Rostos_e_Frases\cont.txt
cont.txt
*.txt
/images
/CyberFaces.V2/images
/CyberFaces/images
cont.txt
/CyberFacesExec
CyberFaces/mosaico.png
/CyberFaces/build
/CyberFaces/dist
